@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  /* width: 100%; */
}


/* Header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Nav links */
nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

ul {
  list-style-type: none;
}

li>a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

nav .links {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

nav .links a {
  font-size: 1.3rem;
  font-weight: 300;
}

/* Nav icons */
.icons {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #fff;
}

/* Hero section */
.hero_content {
  display: flex;
  gap: 18px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  height: 204px;
  width: 502px;
}

.hero_content h1 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 18px;
}

.hero_content a {
  border-bottom: 1px solid black;
  font-family: 'Dosis', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}


/* small screen like mobile devices */
@media (max-width: 480px) {}

/* medium screen like tablet */
@media (max-width: 960px) {

  /* hero section */
  .hero_content {
    width: 300px;
    height: 171px;
  }

  .hero_content h1 {
    font-size: 2rem;
    line-height: 33px;
  }

  .hero_content a {
    font-size: 1rem;
  }

  /* nav section */
  nav .links {
    display: none;
  }
}

/*<--- Footer Style --> */
.container {
  min-width: 961px;
  margin: 0 auto;
  padding: 0 30px;
}

h1,
h2 {
  padding-bottom: 20px;
}

.footer {
  background-color: #EFEFEF;
  color: black;
  font-weight: 400px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerbox {
  flex: 1;
  margin: 20px 10px;
  padding: 15px 20px;
}

ul {
  list-style-type: none;
}

.fbm {
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  padding: 5px 20px;
}

.margini a {
  margin: 20px;
  padding: 20px;
  color: black;
}

@media(max-width: 960px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }

  .footer .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
}

@media(max-width: 480px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }

  .footer .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
}